.projects {
  height: 100%;
  width: 100vw;
  background: url(/image/download.png) #597894;
  display: flex;
  /* gap: 10rem; */
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* padding-top: 4rem; */
}

.projects .container-boxes {
  margin: 8rem;
  max-width: 950px;
}

.container-boxes h1 {
  position: relative;
  text-align: start;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  font-family: 'Aboreto', cursive;
  color: #dfe5fa;
  overflow: hidden;
  z-index: 2;
}

.container-boxes h1::after {
  content: '';
  position: absolute;
  top: 50%;
  /* right: 0; */
  width: 50%;
  height: 1px;
  margin-left: 20px;
  background-color: #dfe5fa;
}

.container-boxes .box {
  /* max-width: 900px; */
  /* max-width: 1000px; */
  height: 400px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
  /* border: 1px solid #f00; */
  margin: 4rem 0;
}

.box:nth-of-type(2n+1) {
  justify-content: end;
}

.box .box-image {
  position: relative;
  height: 80%;
  width: 60%;
  border-radius: 3px;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
  transition: all .3s;
}

.box-image a {
  width: 100%;
  height: 100%;
  /* background-color: #eb0404; */
}

.box-image a::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0px;
  z-index: 3;
  transition: var(--transition);
  background-color: #377adf;
  mix-blend-mode: screen;
}

.box-image:hover a::before {
  background-color: transparent;
}

.box-image a img {
  width: 100.5%;
  height: auto;
  object-fit: cover;
  filter: grayscale(100%) contrast(1) brightness(50%);
}

.box-image:hover img  {
  filter: grayscale(0) contrast(1) brightness(1);
}

.box .box-info {
  position: absolute;
  /* display: none; */
  right: 0;
  direction: rtl;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 60%;
  /* z-index: 2; */
  /* pointer-events: none; */
}

.box:nth-of-type(2n+1) .box-info {
  left: 0;
  direction: ltr;
}

.box-info .box-title{
  margin-bottom: 12px;
}

.box-title h4 {
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  color: var(--mute-color);
  font-size: .9rem;
  margin-bottom: 6px;
}

.box-title h2 {
  font-size: 1.8rem;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-weight: 500;
}

.box-info .box-content {
  background-color: #112240;
  border-radius: 3px;
  margin-bottom: 12px;
  z-index: 2;
}

.box-content p {
  padding: 20px;
  font-weight: 300;
  color: #cad5f3;
  font-family: "Nunito", sans-serif;
}

.box-info .box-details {
  display: flex;
  flex-direction: column;
}

.box-details .tools {
  display: flex;
  z-index: 2;
}

.tools span {
  margin-right: 0;
  margin-left: 18px;
  font-size: .9rem;
  color: #cad5f3;
  font-family: "Nunito", sans-serif;
}

.box:nth-of-type(2n+1) .tools span {
  margin-left: 0;
  margin-right: 18px;
}

.box-details .icon {
  margin-top: 12px;
}

.icon a svg {
  margin-right: 0;
  margin-left: 10px;
  width: 20px;
  height: 20px;
  stroke: #dee4f3;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: var(--transition);
}

.box:nth-of-type(2n+1) .icon a svg {
  margin-left: 0;
  margin-right: 10px;
}

.icon a svg:hover {
  stroke: var(--mute-color);
}

/* ========== */

@media (max-width: 968px) {
  
  .projects .container-boxes {
    margin: 8rem 5rem;
  }
  
  .box .box-image {
    height: 60%;
    width: 60%;
  }

  .box .box-info {
    width: 80%;
  }

}

@media (max-width: 768px) {

  .projects .container-boxes {
    margin: 5rem 2.5rem;
  }

  .container-boxes h1 {
    font-size: 1.8rem;
  }
  

  .box .box-image {
    height: 100%;
    width: 100%;
  }

  .box-image a::before{
    background-color: #0e2547;
  }

  .box-image a img {
    width: 100.5%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%) contrast(1) brightness(30%);
  }

  .box:nth-of-type(2n) .box-info {
    left: 0;
    direction: ltr;
  }

  .box .box-info {
    width: 100%;
    padding-left: 20px;
    z-index: 2;
  }

  .box-content p {
    font-size: .9rem;
    padding: 10px;
  }
  
  .box:nth-of-type(2n) .tools span {
    margin-left: 0;
    margin-right: 18px;
  }
  
  .box:nth-of-type(2n) .icon a svg {
    margin-left: 0;
    margin-right: 10px;
  }

}